<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows download - Spotify</title>
    <link rel="stylesheet" href="download.css">
    <link rel="stylesheet" href="download.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/152756.png" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/index.html"><img src="/spotify-logo-branca-white.png" class="main__logo" alt=""></a>
        </div>
        <ul>
            <li><a href="/components/premium.html">Premium</a></li>
            <li><a href="/components/support.html">Support</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="/components/sign.html">Sign up</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
        <div class="burger">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
    </nav>

    <section>
        <div class="section__img">
            
            <img class="first" src="https://www-growth.scdn.co/static/download/laptop.svg" alt="">
            <img class="second" src="https://www-growth.scdn.co/static/download/green-circle.svg" alt="">
            <img class="card" src="https://www-growth.scdn.co/static/download/green-success-check.svg" alt="">
        </div>
        <h1>Download Spotify</h1>
        <p>Play millions of songs on your device.</p>
        <div class="btn">
            <button>Download</button>
        </div>
        
    </section>

    <div class="links">
        <h1>Bring your music to mobile and tablet, too.</h1>
        <p>Listening on your phone or tablet is free, easy, and fun.</p>

        <div class="links__img">
            <div class="img1"><img src="/img/1.png" alt=""></div>
            <div class="img1"><img src="/img/2.png" alt=""></div>
            <div class="img1"><img src="/img/3.png" alt=""></div>
            <div class="img1"><img src="/img/4.png" alt=""></div>
            
        </div>
    </div>

    <div class="gadgets">
        <img src="/img/all-devices.svg" alt="">
        <p>One account, listen everywhere.</p>

        <div class="gadgets__text">
            <ul>
                <p>MOBILE</p>
                <li><p>COMPUTER</p></li>
                <li><p>TABLET</p></li>
                <li><a href="#">CAR</a></li>
                <li><a href="#">PLAYSTATION<sup>®</sup></a></li>
                <li><a href="#">XBOX</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">SPEAKER</a></li>
                <li><a href="#">WEB PLAYER</a></li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="footer__wrapper">
        <div class="footer__links">
            
            <div class="link link1"><img src="/spotify-logo-branca-white.png" alt=""></div>
            <div class="link__wrapper">
                <div class="link link2">
                    <ul>
                    <p>COMPANY</p>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">For the Record</a></li>
                    </ul>
                </div>
                <div class="link link3">
                    <ul>
                        <p>COMMUNITIES</p>
                        <li><a href="#">For Artists</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Vendors</a></li>
                        </ul>
                </div>
                <div class="link link4">
                    <ul>
                        <p>USEFUL LINKS</p>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Web Player</a></li>
                        <li><a href="#">Free Mobile App</a></li>
                        </ul>
                </div>
            </div>
            
        </div>
    
        <div class="footer__icon">
            <div class="icon__wrapp"><i class="fab fa-instagram"></i></div>
            <div class="icon__wrapp"><i class="fab fa-twitter"></i></div>
            <div class="icon__wrapp"><i class="fab fa-facebook-f"></i></div>
        </div>
        
    </div>
    </footer>
    
    <div class="bottom">
        <div class="bottom__wrapp">
            <span><i class="fas fa-globe-europe"></i>USA</span>
            <div class="line">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privacy Center</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">About Ads</a></li>
                    <li><a href="#">Additional CA Privacy Disclosures</a></li>
                </ul>
                <p>
                    © 2021 Spotify AB
                </p>
            </div>
        </div> 
    </div>

</body>
</html>