<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Premium - Spotify (US)</title>
    <link rel="stylesheet" href="premium.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/152756.png" type="image/x-icon">
</head>
<body>
    <section>
        <nav>
            <div class="logo">
                <a href="/index.html"><img src="/spotify-logo-branca-white.png" class="main__logo" alt=""></a>
            </div>
            <ul>
                <li><a href="#">Premium</a></li>
                <li><a href="/components/support.html">Support</a></li>
                <li><a href="/components/download.html">Download</a></li>
                <li><a href="/components/sign.html">Sign up</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
            <div class="burger">
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
        </nav>

    </section>
    <div class="blue__wrapper">
        <div class="main__wrapper">

        <div class="wrapper__text">
            <h2>Get Premium free for 2 months</h2>
            <span>Only $9.99 after. Cancel anytime.</span>
            <div class="wrapper__buttons">
                <button class="btn__active">GET STARTED</button>
                <button class="btn__transparent">VIEW PLANS</button>
            </div>
            
            <p class="terms"><a href="#"> Terms and conditions apply.</a> 2 months free not available for users who have already tried Premium.</p>
        </div>

        <div class="wrapper__img">
            <img src="https://i.scdn.co/image/ab678e040000ed3a97c2eb8a1ae6f9ff3f13f9ce" alt="">
        </div>
        </div>
    </div>

    <div class="question">
        <h1>Why go Premium?</h1>
        <div class="cards">
            <div class="card">
                <img src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" alt="">
                <span class="span__heading">Download music.</span>
                <span>Listen anywhere.</span>
            </div>
            <div class="card">
                <img src="https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137" alt="">
                <!-- <img src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" alt=""> -->
                <span class="span__heading">No ad interruptions.</span>
                <span>Enjoy nonstop music.</span>
            </div>
            <div class="card">
                <!-- <img src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" alt=""> -->
                <img src="https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67" alt="">
                <span class="span__heading">Play any song.</span>
                <span>Even on mobile.</span>
            </div>
            <div class="card">
                <img src="https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012" alt="">
                <!-- <img src="https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f" alt=""> -->
                <span class="span__heading">Unlimited skips.</span>
                <span>Just hit next.</span>
            </div>
        </div>
    </div>


    <div class="article">
        <h1>Pick your Premium</h1>
        <span>Listen without limits on your phone, speaker, and other devices.</span>
        <div class="payment__systems">
            <img src="https://content-tooling.spotifycdn.com/images/c870a1e1-f980-4626-ab1b-14eeb8d4cab4_visa.svg" alt="">
            <img src="https://content-tooling.spotifycdn.com/images/e5ebed70-82ea-42ae-917d-b3edb7ed98ef_mastercard.svg" alt="">
            <img src="https://content-tooling.spotifycdn.com/images/3fcc3442-3a00-455f-9256-d3115ac3e382_amex.svg" alt="">
            <img src="https://content-tooling.spotifycdn.com/images/205f3c09-6649-42db-8bf3-7a356be0ae37_discover.svg" alt="">
            <img src="https://i.scdn.co/image/ab671c3d0000f4300e2f169bed4bb2798accb287" alt="">
        </div>

        <div class="boxes">
            <div class="box">
                <div class="box__text">
                    <div class="free__trial">
                        <span>2 months free</span>
                    </div>
                    <h3>Individual</h3>
                    <span>$9.99/month after offer period

                    1 account</span>
                </div>
                <hr>
                <div class="checkings">
                    <p><span>✓</span> <span>Listen to music ad-free</span></p>
                    <p><span>✓</span> <span>Play anywhere - even offline</span></p>
                    <p><span>✓</span> <span>On-demand playback</span></p>
                </div>

                <button >GET STARTED</button>
              
                <p>Terms and conditions apply. 2 months free not available for users who have already tried Premium.</p>
            </div>
            <div class="box">
                <div class="box__text">
                    <div class="free__trial">
                        <span>1 months free</span>
                    </div>
                    <h3>Duo</h3>
                    <span>$12.99/month after offer period

                        2 accounts</span>
                </div>
                <hr>
                <div class="checkings">
                    <p><span>✓</span> <span>2 Premium accounts for a couple under one roof</span></p>
                    <p><span>✓</span> <span>Duo Mix: a playlist for two, regularly updated with music you both enjoy</span></p>
                    <p><span>✓</span> <span>Ad-free music listening, play offline, on-demand playback</span></p>
                </div>

                <button >GET STARTED</button>
              
                <p>Terms and conditions apply. 1 month free not available for users who have already tried Premium.</p>
            </div>
            <div class="box">
                <div class="box__text">
                    <div class="free__trial">
                        <span>1 months free</span>
                    </div>
                    <h3>Family</h3>
                    <span>$15.99/month after offer period

                        6 accounts</span>
                </div>
                <hr>
                <div class="checkings">
                    <p><span>✓</span> <span>6 Premium accounts for family members living under one roof</span></p>
                    <p><span>✓</span> <span>Family Mix: a playlist for your family, regularly updated with music you all enjoy</span></p>
                    <p><span>✓</span> <span>Block explicit music</span></p>
                    <p><span>✓</span> <span>Ad-free music listening, play offline, on-demand playback</span></p>
                    
                </div>

                <button >GET STARTED</button>
              
                <p>Terms and conditions apply. 2 months free not available for users who have already tried Premium.</p>
            </div>
            <div class="box">
                <div class="box__text">
                    <div class="free__trial">
                        <span>2 months free</span>
                    </div>
                    <h3>Individual</h3>
                    <span>$9.99/month after offer period 1 account</span>
                </div>
                <hr>
                <div class="checkings">
                    <p><span>✓</span> <span>Listen to music ad-free</span></p>
                    <p><span>✓</span> <span>Play anywhere - even offline</span></p>
                    <p><span>✓</span> <span>On-demand playback</span></p>
                </div>

                <button >GET STARTED</button>
              
                <p>Terms and conditions apply. 2 months free not available for users who have already tried Premium.</p>
            </div>
            
        </div>
    </div>
</section>

<footer>
    <div class="footer__wrapper">
    <div class="footer__links">
        
        <div class="link link1"><img src="/spotify-logo-branca-white.png" alt=""></div>
        <div class="link__wrapper">
            <div class="link link2">
                <ul>
                <p>COMPANY</p>
                <li><a href="#">About</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">For the Record</a></li>
                </ul>
            </div>
            <div class="link link3">
                <ul>
                    <p>COMMUNITIES</p>
                    <li><a href="#">For Artists</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Vendors</a></li>
                    </ul>
            </div>
            <div class="link link4">
                <ul>
                    <p>USEFUL LINKS</p>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Web Player</a></li>
                    <li><a href="#">Free Mobile App</a></li>
                    </ul>
            </div>
        </div>
        
    </div>

    <div class="footer__icon">
        <div class="icon__wrapp"><i class="fab fa-instagram"></i></div>
        <div class="icon__wrapp"><i class="fab fa-twitter"></i></div>
        <div class="icon__wrapp"><i class="fab fa-facebook-f"></i></div>
    </div>
    
</div>
</footer>

<div class="bottom">
    <div class="bottom__wrapp">
        <span><i class="fas fa-globe-europe"></i>USA</span>
        <div class="line">
            <ul>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy Center</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">About Ads</a></li>
                <li><a href="#">Additional CA Privacy Disclosures</a></li>
            </ul>
            <p>
                © 2021 Spotify AB
            </p>
        </div>
    </div> 
</div>


</body>
</html>