<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - Spotify</title>
    <link rel="stylesheet" href="support.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/152756.png" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/index.html"><img src="/spotify-logo-branca-white.png" class="main__logo" alt=""></a>
        </div>
        <ul>
            <li><a href="/components/premium.html">Premium</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="/components/download.html">Download</a></li>
            <li><a href="/components/sign.html">Sign up</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
        <div class="burger">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
    </nav>

<section>
    <div class="search">
        <h1>How can we help you?</h1>
        <div class="input">
            <span><i class="fas fa-search"></i></span><input type="text" placeholder="Search">
        </div>
    </div>
    <div class="help__vision">
        <div class="vision__wrapp">
            <h2>TOP SOLUTIONS</h2>
            <P>Price updates</P>
            <p>Can`t reset password</p>
            <p>Country or region settings</p>
            <p>Verify email adress</p>
        </div>
    </div>
    <div class="help">

        <div class="help__wrapp">
            <div class="help__text">
                <p>PAYMENT HELP</p>
                <h2>Price updates</h2>
            </div>

            <div class="help__text">
                <p>ACCOUNT HELP</p>
                <h2>Can`t reset password</h2>
            </div>

            <div class="help__text">
                <p>ACCOUNT HELP</p>
                <h2>Country or region settings</h2>
            </div>

            <div class="help__text">
                <p>ACCOUNT HELP</p>
                <h2>Verify email adress</h2>
            </div>
        </div>
    </div>
</section>

<div class="links">
    <div class="links__vision">
        <div class="links__vision__text">
            <p>Account & Payment</p>
            <span><i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="links__vision__text">
            <p>Using Spotify</p>
            <span><i class="fas fa-chevron-down"></i></span>
        </div>
        <div class="links__vision__text">
            <p>Listen Everywhere</p>
            <span><i class="fas fa-chevron-down"></i></span>
        </div>
    </div>
    <div class="links__wrapp">
        <div class="links__text">
            <h2>Account & Payment</h2>
            <ul>
                <li><a href="#">Account Help</a></li>
                <li><a href="#">Payment Help</a></li>
                <li><a href="#">Subscription Options</a></li>
                <li><a href="#">Premium Family</a></li>
                <li><a href="#">Premium Duo</a></li>
                <li><a href="#">Premium Student</a></li>
                <li><a href="#">Privacy & Security</a></li>
            </ul>
        </div>
    
        <div class="links__text">
            <h2>Using Spotify</h2>
            <ul>
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">System & Settings</a></li>
                <li><a href="#">Troubleshooting</a></li>
                <li><a href="#">Ongoing issues</a></li>
                
            </ul>
        </div>
    
        <div class="links__text">
            <h2>Listen Everywhere</h2>
            <ul>
                <li><a href="#">Speakers</a></li>
                <li><a href="#">TVs</a></li>
                <li><a href="#">Cars</a></li>
                <li><a href="#">Car Thing</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Smart Watches</a></li>
                <li><a href="#">Smart Displays</a></li>
                <li><a href="#">Voice Assistants</a></li>
            </ul>
        </div>
    </div>
    
</div>
    

<div class="btn">
    <h1>Visit the Community</h1>
    <p>Have questions? Find answers from our worldwide Community of expert fans!</p>
    <button>Find Answers</button>
</div>


    <footer>
        <div class="footer__wrapper">
        <div class="footer__links">
            
            <div class="link link1"><img src="/spotify-logo-branca-white.png" alt=""></div>
            <div class="link__wrapper">
                <div class="link link2">
                    <ul>
                    <p>COMPANY</p>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">For the Record</a></li>
                    </ul>
                </div>
                <div class="link link3">
                    <ul>
                        <p>COMMUNITIES</p>
                        <li><a href="#">For Artists</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Advertising</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Vendors</a></li>
                        </ul>
                </div>
                <div class="link link4">
                    <ul>
                        <p>USEFUL LINKS</p>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Web Player</a></li>
                        <li><a href="#">Free Mobile App</a></li>
                        </ul>
                </div>
            </div>
            
        </div>
    
        <div class="footer__icon">
            <div class="icon__wrapp"><i class="fab fa-instagram"></i></div>
            <div class="icon__wrapp"><i class="fab fa-twitter"></i></div>
            <div class="icon__wrapp"><i class="fab fa-facebook-f"></i></div>
        </div>
        
    </div>
    </footer>
    
    <div class="bottom">
        <div class="bottom__wrapp">
            <span><i class="fas fa-globe-europe"></i>USA</span>
            <div class="line">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privacy Center</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">About Ads</a></li>
                    <li><a href="#">Additional CA Privacy Disclosures</a></li>
                </ul>
                <p>
                    © 2021 Spotify AB
                </p>
            </div>
        </div> 
    </div>
</body>
</html>